@font-face {
	font-family: RobotoThin;
	src: url("fonts/Roboto-Thin.ttf");
}

@font-face {
	font-family: RobotoMedium;
	src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: RobotoRegular;
	src: url("fonts/Roboto-Regular.ttf");
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	font-family: RobotoThin, sans-serif;
	background-color: gainsboro;
}

.navigation-items {
	display: flex;
	list-style-type: none;
	align-items: center;
	margin-left: auto;

}

.navigation-item {
	padding: 0 10px;
}

.navigation-item a {
	text-decoration: none;
	color: black;
}

.navigation-item a:hover {
	text-decoration: none;
	color: white;
	background-color: black;
}

ul {
	display: block;
   
}

nav {
	display: flex;
	padding: 16px 0;
}

.about-me-text-container {
	margin-right: 25px;
	text-align: justify;
}

img {
	border-radius: 12px;
	max-width: 100%;
	margin-top: 35px;

}

#about-me {
	padding: 16px 0;
}

i {
	padding: 0 10px;
}

details {
	display: block;
}

summary {
	display: list-item;
	counter-increment: list-item 0;
	list-style: inside disclosure-closed;
}

h3 {
	display: inline;
}

h2 {
	font-family: RobotoMedium, sans-serif;
}

a {
	font-family: RobotoRegular, sans-serif;
}

footer {
	text-align: center;
	margin-top: 20px;
}

.icon-a {
	color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	body {
		max-width: 530px;
	}
	.navigation-items {
		font-size: 12px;
		text-transform: uppercase;
		padding: 0 5px;
	}
	img {
		display: none;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		max-width: 580px;
	}
	.navigation-items {
		font-size: 12px;
		text-transform: uppercase;
		padding: 0 5px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body {
		max-width: 760px;
	}
	img {
		height: fit-content;
		width: 40%;
	}
	.about-me-container {
		display: flex;
	}
	.navigation-items {
		font-size: inherit;
		text-transform: capitalize;
		padding: 0 10px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {
		max-width: 800px;
	}
	img {
		height: fit-content;
		width: 40%;
	}
	.about-me-container {
		display: flex;
	}
	.navigation-items {
		font-size: inherit;
		text-transform: capitalize;
		padding: 0 10px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		max-width: 900px;
	}
	.about-me-container {
		display: flex;
	}
	.navigation-items {
		font-size: inherit;
		text-transform: capitalize;
		padding: 0 10px;
	}
}